@using Microsoft.AspNetCore.Identity
@using LiteDB.Identity.Models
@inject SignInManager<LiteDbUser> SignInManager
@inject UserManager<LiteDbUser> UserManager
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Pavlov Rcon Webserver</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="~/css/site.css"/>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"/>
        <link rel="stylesheet" href="~/css/site.css"/>
    </environment>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Pavlov Rcon Webserver</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @if (SignInManager.IsSignedIn(User))
                {
                    if((await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User),"Admin")))
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">User Management<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a asp-area="" asp-controller="User" asp-action="Index">Users</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Role" asp-action="Index">Roles</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="SshServer" asp-action="Index">Servers</a>
                        </li>
                    }
                    <li class="dropdown">
                        <li>
                            <a asp-area="" asp-controller="Rcon" asp-action="Index">Commands</a>
                        </li>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Matchmaking (WIP)<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a asp-area="" asp-controller="Team" asp-action="Index">Teams</a>
                            </li>
                            @if ((await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "Admin")))
                            {
                                <li>
                                    <a asp-area="" asp-controller="Team" asp-action="SteamIdentitiesIndex">Steam Identities</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="MatchMaking" asp-action="Index">Matches</a>
                                </li>
                            }
                        </ul>
                    </li>
                }
            </ul>
            @await Html.PartialAsync("_LoginPartial")
        </div>
    </div>
</nav>
<div class="container body-content">
    <div class="overlay">
        <div id="loadingDiv">
        </div>
    </div>
    
    
<div id="modal-placeholder"></div>
    @RenderBody()
    <footer class="col-md-12">

        <hr/>
        <p>Pavlov Rcon Webserver</p>
    </footer>
</div>

<style>
.overlay {
    background: #e9e9e9; 
    display: none;      
    position: absolute;  
    top: 0;                  
    right: 0;              
    bottom: 0;
    left: 0;
    opacity: 0.5;
    z-index: 999999;
}

#loadingDiv{
  position:absolute;
  top:0px;
  right:0px;
  width:100%;
  height:100%;
  background-color:#666;
  background-image:url("/images/Loadingsome.gif");
  background-repeat:no-repeat;
  background-position:center;
  z-index:10000000;
  filter: alpha(opacity=40); /* For IE8 and earlier */
}
.nowrap{white-space: nowrap;}

 
</style>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/Init.js" asp-append-version="true"></script>
@RenderSection("Scripts", false)
</body>
</html>
