@model PavlovServerWhitelistViewModel


@{
    ViewBag.Title = "Edit pavlov server white list";
    Layout = "_Layout";
    var steamIdentities = ViewBag.SteamIdentities;

}

<h2>@ViewBag.Title</h2>

<form asp-controller="PavlovServer" asp-action="SaveWhiteList" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <input asp-for="pavlovServerId" class="form-control" value="@Model.pavlovServerId" type="hidden"/>
    <span asp-validation-for="pavlovServerId" class="text-danger"></span>
    
    <div class="form-group col-md-12">
        <label asp-for="steamIds"></label>
        @Html.ListBoxFor(m => m.steamIds, new MultiSelectList(steamIdentities, Model.steamIds), new {@class = "form-control form-control-sm"})
    </div>
    
    <div class="row">
        <div class="col-md-1">
            <button type="submit" class="btn btn-primary btn-default col-md-12">Save</button>
        </div>
    </div>

</form>