@using LiteDB.Identity.Models
@using Microsoft.AspNetCore.Identity
@model List<ServerBans>
@inject SignInManager<LiteDbUser> SignInManager
@inject UserManager<LiteDbUser> UserManager

@{
    var tableHeaer = "<thead><tr><th>Id</th><th>SteamUser</th><th>SteamId</th><th>Comment</th><th class='date'>Banned date</th><th class='date'>Banned till</th></thead>";
}
<style>
    .date{
        min-width: 50px;
    }
</style>
<!-- Modal -->
<div class="modal" id="add-contact" tabindex="-1" role="dialog" aria-labelledby="addContactLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content cssModalSizeAsChildren">
            <div class="modal-header">
                <h5 class="modal-title" id="addContactLabel">Banned peoples:</h5>
                <button type="button" class="close btn btn-danger" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                @if (ViewBag.GlobalBan != null && ViewBag.GlobalBan)
                {
                    <h1 class="bg-warning">Global Bans</h1>
                }
                <div class="card m-1  col-cs-12">
                    <div class="card-header col-cs-12">Banned Players</div>
                    <div class="card-body col-cs-12">
                        <table class="table table-bordered table-responsive col-sm-12">
                            @Html.Raw(tableHeaer)
                            @foreach (var player in Model)
                            {
                                @await Html.PartialAsync("BanSingle", player)
                            }
                        </table>
                    </div>
                </div>
                <br>
                <div class="card m-1 ">
                    <div class="card-header">Unban SteamId</div>
                    <div class="card-body">
                        @if (ViewBag.GlobalBan != null && ViewBag.GlobalBan)
                        {
                            <div class="bg-warning">Unban will take longer with global bans as it is not enforced via rcon, but only removed from blacklist.txt the next time the CheckForBans task runs in Hangfire</div>
                        }
                        <div class="row">
                            <div class="col-sm-6">
                                <input name="UnbanSteamId" id="UnbanSteamId" class="form-control" placeholder="76561197960287930">
                            </div>
                            <div class="col-sm-3">
                            </div>
                            <div class="col-sm-3">
                                <Button alt="Remove ban" class="btn-success" onclick="RemoveBannedPlayer($('#UnbanSteamId').val())">Unban</Button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>