@using Newtonsoft.Json.Linq
@model JObject

            <tr>
                @foreach (var property in Model.Properties())
                {
                    if (property.Value.Type == JTokenType.Array)
                    {
                        <td>
                            @{
                                await Html.RenderPartialAsync("JsonToHtmlSingleLevelPartialView.cshtml", property.Value.ToString());
                            }
                        </td>
                    }
                    else if (property.Value.Type == JTokenType.Object)
                    {
                        var inlineClass = ((JObject)property.Value).Properties();
                        var resultado = inlineClass.Select(x => string.Format("<div><b>{0}</b> <span>: {1}</span></div>", x.Name, x.Value)).ToList();
                        string resultadoUnido = string.Join("", resultado);
                        <td>
                            <div>
                                @Html.Raw(resultadoUnido)
                            </div>
                        </td>
                    }
                    else if (property.Value.Type == JTokenType.Boolean)
                    {
                        <td>@property.Name</td>
                        <td>@property.Value</td>
                    }
                    else
                    {
                        <td>@property.Value</td>
                    }
                }
            </tr>
