@model System.Collections.Generic.IEnumerable<InbuildUser>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Users:</h2>

<a asp-area="" asp-controller="Account" asp-action="Register">&#10133; Add Account</a>

<table class="table table-striped table-responsive">
    <thead>
    <th>
        Id    
    </th>
    <th>
        UserName    
    </th>
    </thead>
    <tbody>
    @foreach (var user in Model)
    {
        <tr>
            <td>
                <a href="@Url.Action("DeleteUser",new{ user.Id })"><span>&#10060;</span></a>
                @user.Id
            </td>
            <td>
                @user.UserName
            </td>
        </tr>
    }
    </tbody>
</table>