@model PlayerModelExtended

<tr>
    <td>
        @Model?.Username
    </td>
    <td>
        <div class="form-group col-md-3">
            <label asp-for="Score"></label>
            <input asp-for="Score" class="form-control" value="@Model.Score"/>
            <span asp-validation-for="Score" class="text-danger"></span>
        </div>
    </td>
    <td>
    <div class="form-group col-md-3">
        <label asp-for="Kills"></label>
        <input asp-for="Kills" class="form-control" value="@Model?.getKills()"/>
        <span asp-validation-for="Kills" class="text-danger"></span>
    </div>
    </td>
    <td>
    <div class="form-group col-md-3">
        <label asp-for="Deaths"></label>
        <input asp-for="Deaths" class="form-control" value="@Model?.getDeaths()"/>
        <span asp-validation-for="Deaths" class="text-danger"></span>
    </div>
    </td>
    <td>
    <div class="form-group col-md-3 align-content-center">
        <label asp-for="Assists"></label>
        <input asp-for="Assists" class="form-control" value="@Model?.getAssists()"/>
        <span asp-validation-for="Assists" class="text-danger"></span>
    </div>
    </td>
    <td>
        @Model?.Cash
    </td>
</tr>           