@model Team

@{
    ViewBag.Title = "Add/Update Team";
    Layout = "_Layout";

}

<h2>@ViewBag.Title</h2>

<form asp-controller="Team" asp-action="SaveTeam" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="col-md-11">
        <div class="card m-1 ">
            <div class="card-header">Main team settings</div>
            <div class="card-body">

                <input asp-for="Id" class="form-control" value="@Model.Id" type="hidden"/>
                <span asp-validation-for="Id" class="text-danger"></span>
                <div class="form-group col-md-12">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" value="@Model.Name"/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>


            </div>
        </div>
        <div class="saveButton col-md-1 mt-3">
            <button type="submit" class="btn btn-success col-md-12">Save</button>
        </div>
    </div>

</form>