@model PlayerModelExtended
@{
    var userName = "          ";
    if(!string.IsNullOrEmpty(@Model?.Username))
    {
        userName = @Model.Username;
    }
}
<tr>
    <td>
        <div class="tooltipHover">
            @if (userName.Length >= 10)
            {
                <text>
                    @userName.Substring(0, 10)...
                </text>
            }
            else
            {
                <text>
                    @userName
                </text>
            }
            
            <span class="tooltiptext">@userName</span>
        </div>
        
    </td>
    <td>
        @Model?.Score
    </td>
    <td>
        @Model?.getKills()
    </td>
    <td>
        @Model?.getDeaths()
    </td>
    <td>
        @Model?.getAssists()
    </td>
    <td>
        @Model?.Cash
    </td>
</tr>           