@model PlayerModelExtended

<tr>
    <td>
        <div class="tooltipHover">
            @Model?.Username
        </div>
        
    </td>
    <td>
        @Model?.Score
    </td>
    <td>
        @Model?.getKills()
    </td>
    <td>
        @Model?.getDeaths()
    </td>
    <td>
        @Model?.getAssists()
    </td>
    <td>
        @Model?.Cash
    </td>
</tr>           