@model PavlovServerPlayer
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    var subPath = Configuration["subPath"];
}
<tr>
    <td>
        <a href="@Html.Raw(subPath)LeaderBoard/Index/User/@Model.UniqueId">@Model?.Username</a>
    </td>
    <td>
        @Model?.Score
    </td>
    <td>
        @Model?.getKills()
    </td>
    <td>
        @Model?.getDeaths()
    </td>
    <td>
        @Model?.getAssists()
    </td>
    <td>
        @Model?.Headshot
    </td>
    <td>
        @Model?.Cash
    </td>
</tr>