@model PavlovServerPlayer

<tr>
    <td>
        <a href="/LeaderBoard/Index/User/@Model.UniqueId">@Model?.Username</a>
    </td>
    <td>
        @Model?.Score
    </td>
    <td>
        @Model?.getKills()
    </td>
    <td>
        @Model?.getDeaths()
    </td>
    <td>
        @Model?.getAssists()
    </td>
    <td>
        @Model?.Headshot
    </td>
    <td>
        @Model?.Cash
    </td>
</tr>